fastapi
uvicorn[standard]
sentence-transformers
langchain
pydantic
langchain_community
dotenv
langchain-graph-retriever
langchain-text-splitters
langchain-groq
huggingface-hub
requests
faiss-cpu
youtube_transcript_api